h1 {
    text-align: center;
    color: white;
    background-color: grey;
    text-shadow: 3px 3px black;
}

nav p {
    text-align: center;
}

h2 {
    letter-spacing: 4px;
    text-shadow: 2px 2px gray;
}

section p {
    background-color: grey;
}

aside p {
    color: white;
    background-color: rgb(54, 51, 51);
}